{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        {% for item in entities %}
        	<section>
                <h2>{{ item.entity }}</h2>
                {% if item.copper %}Copper: {{ item.copper }}<br>{% endif %}
                {% if item.silver %}Silver: {{ item.silver }}<br>{% endif %}
                {% if item.electrum %}Electrum: {{ item.electrum }}<br>{% endif %}
                {% if item.gold %}Gold: {{ item.gold }}<br>{% endif %}
                {% if item.platinum %}Platinum: {{ item.platinum }}{% endif %}
            </section>
        {% endfor %}
        I am <a href="https://github.com/Skelmis/DnD-Money-Tracker" target="_blank">open source</a>
    </div>
{% endblock content %}
